:root {
    --main_font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 120px;
    width: 1440px;
    font-family: var(--main_font);
}

header {
    display: flex;
    align-items: center;
    height: 76px;
    background: #FFF;
}

nav {
    margin-left: 51px;
}

.nav-list {
    display: flex;
    gap: 30px;
    padding: 0px;
    list-style-type: none;
}

.nav-list__item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-list__item>svg {
    margin-left: 8px;
}

button {
    margin-left: auto;
    width: 230px;
    height: 48px;
    font-family: var(--main_font);
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #E3F5F5;
    color: #03B2A5;
    cursor: pointer;
    border: none;
}

.header-underline {
    height: 2px;
    margin-left: -120px;
    margin-right: -120px;
    background-color: #EFF2F2;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: rgba(51, 51, 51, 0.70);
}

.breadcrumbs>svg {
    margin-left: 4px;
    margin-right: 8px;
}

.breadcrumbs>span:nth-child(1) {
    cursor: pointer;
}

.blog-container {
    margin-top: 30px;
}

.blog-container>h1 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 48px;
    line-height: 56px;
}

.tags-container {
    display: flex;
    gap: 8px;
    margin-top: 32px;
}

.tags-container__item {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 6px 8px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #C1C5CD;
    cursor: pointer;
}

.tags-container__item.selected {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 23px;
}

.posts-container__large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts-container__small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 476px);
    column-gap: 24px;
    row-gap: 23px;
}

.post-large {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 588px;
    height: 500px;
    fill: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.post-large__top {
    height: 260px;
}

.post-large__top img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.post-large__bottom {
    padding: 16px;
    height: 240px;
}

.post__small {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 476px;
    fill: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.post-small__top {
    position: relative;
    height: 260px;
}

.post-small__top img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.post-small__bottom {
    padding: 16px;
    height: 216px;
}

.post-tags-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    align-items: flex-start;
}

.tags-container__item.post-tag {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.70);
}

.post__title {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.post__author {
    color: #494949;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.post__text {
    margin-top: 8px;
    margin-bottom: auto;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.post__date {
    position: absolute;
    bottom: 16px;
    color: #868686;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.bottom-btn-container {
    display: flex;
    margin-top: 56px;
    align-self: center;
}

.bottom-btn-container>button {
    width: 182px;
    background: #35B3A9;
    color: #FFF;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    margin-left: -120px;
    margin-right: -120px;
    padding-top: 40px;
    padding-left: 120px;
    height: 302px;
    background: #2963A3;
}

.footer_grid {
    display: grid;
    grid-template-columns: 310px 486px 221px;
    width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
}

.site-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 184px;
    column-gap: 93px;
    row-gap: 16px;
}

.site-links>a {
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.letter-menu {
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.letter-menu>span {
    width: 356px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.letter-menu input {
    padding-left: 16px;
    width: 384px;
    height: 48px;
    font-family: inherit;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.letter-menu input::placeholder {
    color: #9D9D9D;
}

form[action="subscribe-email"] {
    display: flex;
}

.subscribe-email__btn {
    position: relative;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background: #16C8BB;
    cursor: pointer;
}

.letter-menu>p {
    margin: 0px;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.7;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-links__social-media {
    display: flex;
    gap: 16px;
}

.social-links__social-media__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #EFF5FB;
}

.footer-grid-underline {
    width: 1200px;
    height: 1px;
    margin-top: 24px;
    opacity: 0.3;
    background: #9D9D9D;
}

.footer-legal {
    display: flex;
    gap: 48px;
    margin-top: 16px;
    color: #FFF;
    font-size: 14px;
    opacity: 0.7;
}

.footer-legal>a {
    text-decoration: none;
    color: #FFF;
}