:root {
    --main_font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 120px;
    width: 1440px;
    font-family: var(--main_font);
}

header {
    display: flex;
    align-items: center;
    height: 76px;
    background: #FFF;
}

nav {
    margin-left: 51px;
}

.nav-list {
    display: flex;
    gap: 30px;
    padding: 0px;
    list-style-type: none;
}

.nav-list li {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.nav-list a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.nav-list__item>svg {
    margin-left: 8px;
}

button {
    font-family: var(--main_font);
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.header-btn {
    margin-left: auto;
    width: 230px;
    height: 48px;
    background: #E3F5F5;
    color: #03B2A5;
}

.header-underline {
    height: 2px;
    margin-left: -120px;
    margin-right: -120px;
    background-color: #EFF2F2;
}

.gradient {
    margin-left: -120px;
    margin-right: -120px;
    width: 1440px;
    height: 672px;
    position: absolute;
    top: 401px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: rgba(51, 51, 51, 0.70);
}

.breadcrumbs>svg {
    margin-left: 4px;
    margin-right: 8px;
}

.breadcrumbs>span:nth-child(1) {
    cursor: pointer;
}

.blog-container {
    margin-top: 30px;
}

h1 {
    /* margin-top: 30px;
    margin-bottom: 0px; */
    margin: 0px;
    font-size: 48px;
    line-height: 56px;
}

.tags-container {
    display: flex;
    gap: 8px;
    margin-top: 32px;
}

.tags-container__item {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 6px 8px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #C1C5CD;
    cursor: pointer;
}

.tags-container__item.selected {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 23px;
}

.posts-container__large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts-container__small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 476px);
    column-gap: 24px;
    row-gap: 23px;
}

.post-large {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 588px;
    height: 500px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.post-large__top {
    height: 260px;
}

.post-large__top img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.post-large__bottom {
    padding: 16px;
    height: 240px;
}

.post__small {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 476px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.post-small__top {
    position: relative;
    height: 260px;
}

.post-small__top img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.post-small__bottom {
    padding: 16px;
    height: 216px;
}

.post-tags-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    align-items: flex-start;
}

.tags-container__item.post-tag {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.70);
}

.post__title {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.post__author {
    color: #494949;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.post__text {
    margin-top: 8px;
    margin-bottom: auto;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.post__date {
    position: absolute;
    bottom: 16px;
    color: #868686;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.bottom-btn-container {
    display: flex;
    margin-top: 56px;
    align-self: center;
}

.more-btn {
    width: 182px;
    height: 48px;
    margin-bottom: 96px;
    background: #35B3A9;
    color: #FFF;
}

footer {
    display: flex;
    flex-direction: column;
    /* margin-top: 96px; */
    margin-left: -120px;
    margin-right: -120px;
    padding-top: 40px;
    padding-left: 120px;
    height: 302px;
    background: #2963A3;
}

.footer_grid {
    display: grid;
    grid-template-columns: 310px 486px 221px;
    width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
}

.site-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 184px;
    column-gap: 93px;
    row-gap: 16px;
}

.site-links>a {
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.letter-menu {
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.letter-menu>span {
    width: 356px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.letter-menu input {
    padding-left: 16px;
    width: 384px;
    height: 48px;
    font-family: inherit;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.letter-menu input::placeholder {
    color: #9D9D9D;
}

form[action="subscribe-email"] {
    display: flex;
}

.subscribe-email__btn {
    position: relative;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background: #16C8BB;
    cursor: pointer;
}

.letter-menu>p {
    margin: 0px;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.7;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-links__social-media {
    display: flex;
    gap: 16px;
}

.social-links__social-media__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #EFF5FB;
}

aside {
    width: 282px;
    float: right;
    margin-top: 88px;
}

.empty-slots {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    height: 512px;
    padding: 24px;
    border-radius: 16px;
    background: #E6F0FD;
}

.empty-slots-illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 257px;
    height: 206px;
}

.empty-slots-illustration img {
    z-index: 2;
}

.empty-slots-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.empty-slots-text span {
    display: flex;
    text-align: center;
    width: 220px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.empty-slots-text p {
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.about-btn {
    margin-top: auto;
    width: 234px;
    height: 48px;
    background: #16C8BB;
    color: #FFF;
}

.doctor-suggestion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    height: 481px;
    padding: 24px;
    border-radius: 16px;
    background: #E6F0FD;
}

.doc-photo {
    width: 120px;
    height: 120px;
    background-image: url('./assets/article/aside2.png');
    border-radius: 100%;
}

.article-container {
    max-width: 690px;
    margin-top: 54px;
}

.article-meta {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
}

.dot-separator {
    width: 2px;
    height: 2px;
    background-color: #494949;
    border-radius: 100%;
}

.article-container>article>img {
    margin-top: 24px;
}

.article-content {
    margin-top: 24px;
    max-width: 588px;
}

.article-content ul {
    list-style-image: url('./assets/article/list_dot.svg');
}

.article-content li {
    vertical-align: middle;
}

.article-content ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
    gap: 8px;
}

.article-content__dot {
    background-image: url('./assets/article/list_dot.png');
}

.qwe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.rty {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #03B2A5;
}

.article-content ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.article-content ul li a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

h5 {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
}

figure {
    margin: 0px;
}

.quote {
    display: flex;
    width: 642px;
    height: 114px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #F3F7FE;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.quote p {
    margin: 0px;
}

.quote svg {
    position: absolute;
    flex-shrink: 0;
}

figcaption {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.article-img-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.article-img-wrap img {
    margin: 0px;
}

.article-img-wrap figcaption {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
}

p {
    margin: 0px;
}

.highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
}

.highlight svg {
    position: absolute;
    z-index: -1;
}

.highlight p {
    max-width: 485px;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
}

.text-with-img-row {
    display: flex;
    gap: 24px;
}

.text-with-img-row p {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.primary-text {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.task-wrap {
    display: flex;
    width: 690px;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
}

.task-wrap span {
    font-weight: 700;
}

.task-wrap.first-task {
    background: #FEFAEC;
}

.task-wrap.second-task {
    background: #FFF3EB;
}

.task-wrap.third-task {
    background: rgba(3, 178, 165, 0.10);
}

.two-columns-row {
    display: flex;
    gap: 24px;
}

.text-with-img-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.article-separator {
    display: flex;
    justify-content: center;
}

.article-tags-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;
    row-gap: 4px;
}

.article-tags-wrap a {
    color: #2963A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.article-page-underline {
    width: 1200px;
    height: 1px;
    margin-top: 48px;
    background: #DEDEDE;
}

.outro {
    display: flex;
    align-items: center;
}

.get-help-block {
    display: flex;
    flex-direction: column;
    max-width: 348px;
    max-height: 280px;
}

.get-help-block h1 {
    color: #333;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.get-help-block span {
    margin-top: 24px;
    color: #333;
    font-size: 18px;
    line-height: 26px;
}

.get-help-btn {
    margin-top: 32px;
    width: 238px;
    height: 60px;
    background: #16C8BB;
    color: #FFF;
}

.outro-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 410px;
    margin-left: 339px;
}

.outro-illustration img {
    position: absolute;
    z-index: 1;
}

.outro-illustration svg {
    align-self: flex-end;
}

.orange-pattern {
    position: absolute;
    left: 1367px;
}

.article-gradient {
    margin-left: -120px;
    margin-right: -120px;
    width: 1440px;
    top: 5625px;
    margin-top: 25px;
}

.footer-grid-underline {
    width: 1200px;
    height: 1px;
    margin-top: 24px;
    opacity: 0.3;
    background: #9D9D9D;
}

.footer-legal {
    display: flex;
    gap: 48px;
    margin-top: 16px;
    color: #FFF;
    font-size: 14px;
    opacity: 0.7;
}

.footer-legal>a {
    text-decoration: none;
    color: #FFF;
}