:root {
    --main_font: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;
    font-family: var(--main_font);
    /* border: 1px solid grey; */
}

header {
    display: flex;
    align-items: center;
    height: 76px;
    background: #FFF;
}

nav {
    margin-left: 51px;
}

.nav-list {
    display: flex;
    gap: 30px;
    padding: 0px;
    list-style-type: none;
}

.nav-list li {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.nav-list a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.nav-list__item>svg {
    margin-left: 8px;
}

button {
    font-family: var(--main_font);
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.header-btn {
    margin-left: auto;
    width: 230px;
    height: 48px;
    background: #E3F5F5;
    color: #03B2A5;
}

.header-burger-btn {
    display: none;
}

.header-underline {
    height: 2px;
    margin-left: -120px;
    margin-right: -120px;
    background-color: #EFF2F2;
}

.gradient {
    margin-left: -120px;
    margin-right: -120px;
    width: 1440px;
    height: 672px;
    position: absolute;
    top: 401px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: rgba(51, 51, 51, 0.70);
}

.breadcrumbs>svg {
    margin-left: 4px;
    margin-right: 8px;
}

.breadcrumbs>span:nth-child(1) {
    cursor: pointer;
}

.adaptive-breadcrumb::after {
    content: "Как не утонуть в тревоге и управлять своими страхами";
}

.blog-container {
    margin-top: 30px;
}

h1 {
    margin: 0px;
    font-size: 48px;
    line-height: 56px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 32px;
}

.tags-container__item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 8px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #C1C5CD;
    cursor: pointer;
}

.tags-container__item.selected {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 23px;
}

.posts-container__large {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.posts-container__small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 476px);
    column-gap: 24px;
    row-gap: 24px;
}

.post-large {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 588px;
    max-height: 500px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    cursor: pointer;
}

.post-large__top {
    height: 260px;
    object-fit: contain;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.post-large__bottom {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 240px;
}

.post__small {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 384px;
    max-height: 476px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    cursor: pointer;
}

.post-small__top {
    height: 260px;
    object-fit: fill;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.post-small__bottom {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 216px;
}

.post-tags-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    align-items: flex-start;
}

.tags-container__item.post-tag {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.70);
}

.post__title {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.post__author {
    margin-top: 4px;
    color: #494949;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.post__text {
    flex-grow: 1;
    margin-top: 8px;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.post__date {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #868686;
}

.bottom-btn-container {
    display: flex;
    margin-top: 56px;
    justify-content: center;
}

.more-btn {
    width: 182px;
    height: 48px;
    margin-bottom: 96px;
    background: #35B3A9;
    color: #FFF;
}

footer {
    display: flex;
    flex-direction: column;
    margin-left: -120px;
    margin-right: -120px;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    height: 302px;
    background: #2963A3;
}

.footer_grid {
    display: grid;
    grid-template-columns: 310px 486px 221px;
    width: 1200px;
    justify-content: space-between;
}

.site-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 184px;
    column-gap: 93px;
    row-gap: 16px;
}

.site-links>a {
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.letter-menu {
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.letter-menu .subscribe-title {
    max-width: 356px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.letter-menu input {
    padding-left: 16px;
    width: 384px;
    height: 48px;
    font-family: inherit;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.letter-menu input::placeholder {
    color: #9D9D9D;
}

form[action="subscribe-email"] {
    display: flex;
}

.subscribe-email__btn {
    position: relative;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background: #16C8BB;
    cursor: pointer;
}

.letter-menu .personal-data-text {
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.7;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-links__social-media {
    display: flex;
    gap: 16px;
}

.social-links__social-media__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #EFF5FB;
}

.promo-sidebar {
    width: 282px;
    float: right;
    margin-top: 88px;
}

.promo-after-article {
    display: none;
}

.empty-slots {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    height: 512px;
    padding: 24px;
    border-radius: 16px;
    background: #E6F0FD;
}

.empty-slots-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 11px;
}

.empty-slots-text span {
    display: flex;
    text-align: center;
    width: 220px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.empty-slots-text p {
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.about-btn {
    width: 234px;
    height: 48px;
    background: #16C8BB;
    color: #FFF;
}

.doctor-suggestion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    height: 481px;
    margin-top: 24px;
    padding: 24px;
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    color: #333;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
}

.doctor-suggestion-tags-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -6px;
    margin-left: -6px;
    align-items: flex-start;
    align-self: flex-start;
}

.doctor-suggestion-tag {
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    padding: 0px 6px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.25px;
    background: rgba(243, 244, 248, 0.70);
}

.doctor-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.doctor-profession {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.doctor-meta {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #A2A7B1;
}

.doctor-meta-dot-separator {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #A2A7B1;
}

.doctor-suggestion-line {
    width: 100%;
    height: 1px;
    background: #DEDEDE;
}

.doctor-skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.doctor-skills-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.doctor-skills-item {
    display: flex;
    gap: 4px;
}

.doctor-skills-item-dot-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.doctor-skills-item span {
    font-size: 14px;
    line-height: 20px;
}

.gift-banner {
    margin-top: 28px;
    height: 292px;
    background-image: url("./assets/article/gift_banner.svg");
    object-fit: cover;
    cursor: pointer;
}

.buy-sessions-promo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 304px;
    margin-top: 42px;
    padding: 32px;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
    background-image: url("./assets/article/gift.svg");
}

.buy-sessions-title {
    color: #2963A3;
    font-weight: 700;
}

.buy-sessions-title-number {
    font-size: 24px;
    line-height: 32px;
}

.buy-sessions-title-text {
    font-size: 18px;
    line-height: 26px;
}

.buy-sessions-description {
    margin-right: 22px;
    color: #011632;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.buy-sessions-price {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.buy-button {
    width: 108px;
    height: 48px;
    background: #16C8BB;
    color: #FFF;
}

.article-container {
    max-width: 690px;
    margin-top: 54px;
}

.article-intro>p,
.article-intro>img,
.article-intro>ul,
.article-intro>div:not(.article-meta),
.article-main>p,
.article-main>img,
.article-main>ul,
.article-main>div {
    margin-top: 24px;
}

.article-intro img {
    object-fit: cover;
}

.article-meta {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
}

.dot-separator {
    width: 2px;
    height: 2px;
    background-color: #494949;
    border-radius: 100%;
}

.article-meta .dot-separator:nth-child(4) {
    display: none;
}

.article-meta span:nth-child(5) {
    display: none;
    color: #2963A3;
}

.article-content ul {
    list-style-image: url("./assets/article/list_dot.svg");
}

.article-content li {
    vertical-align: middle;
}

.article-content ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
    gap: 8px;
}

.article-content__dot {
    background-image: url("./assets/article/list_dot.png");
}

.list-dot-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #03B2A5;
}

.article-content ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.article-content ul li a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.article-intro h3 {
    margin-top: 24px;
    margin-bottom: 0px;
}

.article-intro p {
    margin-top: 16px;
}

h5 {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* max-height: 162px; */
    margin-top: 40px;
    padding: 24px;
    border-radius: 16px;
    background: #F3F7FE;
    color: #333;
    font-size: 16px;
    line-height: 24px;
}

.quote p {
    margin: 0px;
    font-style: italic;
}

.quote span {
    font-weight: 700;
}

.quote svg {
    position: absolute;
}

.anxiety-todo h3 {
    margin: 0px;
}

.anxiety-todo__list {
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 8px;
    row-gap: 16px;
    margin-top: 16px;
}

.green-dot-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.green-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #03B2A5;
}

.anxiety-todo__list .green-dot-wrap:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.anxiety-todo__list .green-dot-wrap:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.anxiety-todo__list .todo-text:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.anxiety-todo__list .todo-text:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.article-img-figure {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0px 0px 0px;
}

.article-img-figure img {
    margin: 0px;
    object-fit: cover;
}

.article-img-figure figcaption {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
}

p {
    margin: 0px;
}

.highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
}

.highlight svg {
    position: absolute;
    z-index: -1;
}

.highlight p {
    max-width: 485px;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
}

.text-with-img-row {
    display: flex;
    gap: 24px;
}

.text-with-img-row img {
    margin-top: 0px;
    object-fit: cover;
}

.text-with-img-row p {
    margin-top: 0px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.primary-text {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.task-wrap {
    display: flex;
    width: 690px;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
}

.task-wrap span {
    font-weight: 700;
}

.task-wrap.first-task {
    background: #FEFAEC;
}

.task-wrap.second-task {
    background: #FFF3EB;
}

.task-wrap.third-task {
    background: rgba(3, 178, 165, 0.10);
}

.two-columns-row {
    display: flex;
    gap: 24px;
}

.text-with-img-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-with-img-column img {
    margin-top: 0px;
    object-fit: cover;
}


.text-with-img-column p {
    margin-top: 0px;
}

.article-separator {
    display: flex;
    justify-content: center;
}

.article-tags-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;
    row-gap: 4px;
}

.article-tags-wrap a {
    color: #2963A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.article-page-underline {
    width: 1200px;
    height: 1px;
    margin-top: 48px;
    background: #DEDEDE;
}

.outro {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
}

.outro-main-wrap {
    display: flex;
    align-items: center;
}

.outro-main-wrap img {
    margin-left: 303px;
}

.get-help-block {
    display: flex;
    flex-direction: column;
    max-width: 348px;
    max-height: 280px;
}

.get-help-block h1 {
    color: #333;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.get-help-block span {
    margin-top: 24px;
    color: #333;
    font-size: 18px;
    line-height: 26px;
}

.get-help-btn {
    margin-top: 32px;
    width: 238px;
    height: 60px;
    background: #16C8BB;
    color: #FFF;
}

.article-gradient {
    margin-top: 25px;
    margin-left: -120px;
    margin-right: -120px;
    margin-bottom: -4px;
    width: 1440px;
}

.orange-pattern {
    position: absolute;
    right: 0;
}

.orange-pattern-small {
    bottom: 500px;
}

.orange-pattern-large {
    top: 2480px;
}

.footer-grid-underline {
    height: 1px;
    margin-top: 24px;
    opacity: 0.3;
    background: #9D9D9D;
}

.footer-legal {
    display: flex;
    gap: 48px;
    margin-top: 16px;
    color: #FFF;
    font-size: 14px;
    opacity: 0.7;
}

.footer-legal>a {
    text-decoration: none;
    color: #FFF;
}

/* iPad Pro 12.9" -- 1024px */
@media (max-width: 1024px) {
    body {
        padding: 0 32px;
    }

    /* blog */
    nav {
        margin-left: 32px;
    }

    .nav-list {
        gap: 16px;
    }

    .blog-container {
        margin-top: 40px;
    }

    .gradient {
        display: none;
    }

    .post-large {
        max-width: 468px;
        max-height: 499px;
    }

    .post__small {
        max-width: 304px;
        max-height: 458px;
    }

    .post-small__top {
        height: 206px;
    }

    .post-small__bottom {
        height: 253px;
    }

    .header-underline {
        height: 1px;
        margin-left: -32px;
        margin-right: -32px;
    }

    footer {
        margin-left: -32px;
        margin-right: -32px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer_grid {
        margin-left: 6px;
        grid-template-columns: 247px 450px 221px;
        width: 960px;
    }

    .site-links {
        column-gap: 30px;
    }

    .bottom-btn-container {
        margin-top: 35px;
    }

    .more-btn {
        margin-bottom: 60px;
    }

    /* article */
    .promo-sidebar {
        width: 222px;
    }

    .promo-sidebar .empty-slots {
        height: 495px;
        padding: 20px;
        gap: 0px;
    }

    .promo-sidebar .empty-slots-illustration img {
        width: 181px;
        height: 181px;
    }

    .promo-sidebar .empty-slots-text {
        width: 100%;
        gap: 8px;
    }

    .promo-sidebar .empty-slots .about-btn {
        width: 182px;
    }

    .promo-sidebar .doctor-suggestion {
        height: 530px;
        padding-bottom: 14px;
    }

    .promo-sidebar .doctor-suggestion .about-btn {
        width: 174px;
    }

    .promo-sidebar .gift-banner {
        height: 280px;
        margin-top: 24px;
        background-position: center;
        border-radius: 16px;
    }

    .promo-sidebar .buy-sessions-promo {
        height: 308px;
        margin-top: 24px;
        padding: 24px;
        background-image: url("./assets/article/gift_1024.svg");
    }

    .promo-sidebar .buy-sessions-description {
        margin-right: 0px;
    }

    .article-meta .dot-separator:nth-child(4) {
        display: unset;
    }

    .article-meta span:nth-child(5) {
        display: unset;
    }

    .article-content ul li:nth-child(2) {
        display: none;
    }

    .article-content ul li:nth-child(3) {
        display: none;
    }

    .article-intro img {
        width: 714px;
    }

    .article-img-figure img {
        width: 714px;
    }

    .highlight {
        width: 714px;
    }

    .task-wrap {
        width: 714px;
    }

    .text-with-img-column img {
        width: 345px;
    }

    .article-tags-wrap {
        display: none;
    }

    .article-page-underline {
        display: none;
    }

    .outro {
        display: none;
    }

    .orange-pattern-small {
        display: none;
    }

    .orange-pattern-large {
        display: none;
    }

    footer {
        margin-top: 71px;
    }
}


/* iPad mini -- 768px */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }

    nav {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .header-burger-btn {
        display: unset;
        margin-left: auto;
    }

    .header-underline {
        height: 1px;
        margin-left: -16px;
        margin-right: -16px;
    }

    .gradient {
        display: none;
    }

    .posts-container__large {
        flex-direction: column;
    }

    .post-large {
        max-width: 728px;
        max-height: 600px;
    }

    .post-large__top {
        height: 404px;
    }

    .posts-container__small {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .post__small {
        max-width: 352px;
        max-height: 446px;
    }

    .post-small__top {
        height: 206px;
    }

    .post-small__bottom {
        height: 241px;
    }

    .bottom-btn-container {
        margin-top: 33px;
    }

    .more-btn {
        margin-bottom: 55px;
    }

    footer {
        height: 454px;
        margin: 0 -20px;
        padding-top: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_grid {
        width: 728px;
        grid-template-columns: 247px 450px;
        grid-template-rows: 184px 122px;
        row-gap: 26px;
    }

    .footer-grid-underline {
        margin-top: 26px;
    }

    /* article */
    .quote {
        width: 728px;
    }

    .article-img-figure img {
        width: 728px;
    }

    .highlight {
        width: 728px;
    }

    .text-with-img-row {
        width: 728px;
    }

    .text-with-img-row img {
        width: 294px;
    }

    .text-with-img-row p {
        width: 418px;
    }

    .task-wrap {
        width: 728px;
    }

    .two-columns-row {
        width: 728px;
    }

    .text-with-img-column img {
        width: 356px;
    }

    .promo-sidebar {
        display: none;
    }

    .promo-after-article>* {
        margin-top: 0px;
    }

    .promo-after-article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 36px;
        margin-top: 24px;
        margin-bottom: 59px;
    }

    .promo-after-article .empty-slots {
        width: 356px;
        height: 481px;
    }

    .promo-after-article .empty-slots .about-btn {
        width: 310px;
        margin-bottom: -10px;
    }

    .promo-after-article .doctor-suggestion {
        width: 356px;
        height: 481px;
    }

    .promo-after-article .doctor-suggestion .about-btn {
        width: 250px;
    }

    .promo-after-article .gift-banner {
        width: 356px;
        height: 242px;
        background-image: url("./assets/article/gift_banner_large.svg");
    }

    .promo-after-article .buy-sessions-promo {
        width: 356px;
        height: 248px;
        background-image: url("./assets/article/gift_768.svg");
        background-position: center bottom;
    }

    .promo-after-article .buy-sessions-promo .buy-button {
        margin-bottom: -30px;
    }

    .promo-after-article .gift-banner {
        background-image: url("./assets/article/gift_414.svg");
    }
}


/* iPhone 11 Pro Max -- 414px */
@media (max-width: 414px) {
    body {
        padding: 0 20px;
    }

    header {
        height: 74px;
        padding: 0 4px;
    }

    .breadcrumbs {
        margin-top: 12px;
    }

    .blog-container {
        margin-top: 32px;
    }

    .blog-container h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .tags-container {
        margin-top: 24px;
    }

    .posts-container {
        margin-top: 16px;
        gap: 16px;
    }

    .posts-container__large {
        gap: 16px;
    }

    .post-large {
        max-height: 462px;
    }

    .post-large__top {
        height: 206px;
    }

    .posts-container__small {
        display: flex;
        flex-direction: column;
    }

    .post__small {
        max-width: 374px;
        max-height: 462px;
    }

    .post-small__top {
        height: 206px;
    }

    .bottom-btn-container {
        margin-top: 28px;
    }

    .more-btn {
        margin-bottom: 59px;
    }

    footer {
        height: 746px;
    }

    .footer_grid {
        display: flex;
        flex-direction: column;
        gap: 23px;
        width: auto;
    }

    .site-links {
        align-content: space-between;
    }

    .letter-menu input {
        width: 364px;
    }

    .social-links {
        margin-top: 23px;
        gap: 20px;
    }

    .footer-grid-underline {
        margin-top: 20px;
    }

    .footer-legal {
        flex-direction: column;
        gap: 23px;
        margin-top: 20px;
    }

    /* article */
    .article-intro h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .adaptive-breadcrumb::after {
        content: "Как не утонуть в тревоге и управ...";
    }

    .article-container {
        margin-top: 32px;
    }

    .article-meta {
        margin-top: 8px;
    }

    .article-intro img {
        width: 374px;
        height: 207px;
        margin-top: 16px;
    }

    h3~p {
        margin-top: 16px;
    }

    .quote {
        width: 374px;
        padding: 16px;
    }

    .article-img-figure img {
        width: 374px;
        height: 207px;
    }

    .highlight {
        width: 374px;
    }

    .text-with-img-row {
        flex-direction: column;
        gap: 16px;
    }

    .text-with-img-row img[alt="photo3"] {
        width: 374px;
        height: 380px;
    }

    .text-with-img-row img[alt="photo4"] {
        width: 374px;
        height: 207px;
    }

    .text-with-img-row p {
        width: 374px;
    }

    .task-wrap {
        width: 374px;
        padding: 16px;
    }

    .two-columns-row {
        flex-direction: column;
        width: 374px;
    }

    .text-with-img-column img {
        width: 374px;
    }

    .promo-after-article {
        row-gap: 24px;
        margin-top: 56px;
        margin-bottom: 127px;
    }

    .promo-after-article .empty-slots {
        width: 374px;
        height: 512px;
    }

    .promo-after-article .empty-slots .about-btn {
        margin-bottom: 0px;
    }

    .promo-after-article .doctor-suggestion {
        width: 374px;
    }

    .promo-after-article .gift-banner {
        width: 374px;
        height: 280px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .promo-after-article .buy-sessions-promo {
        width: 374px;
        height: 248px;
        padding: 24px;
        background-position: left;
    }
}


/* iPhone SE -- 320px */
@media (max-width: 320px) {
    body {
        padding: 0 16px;
    }

    header {
        height: 56px;
        margin-right: -8px;
    }

    .breadcrumbs {
        margin-top: 24px;
    }

    .blog-container {
        margin-top: 24px;
    }

    .blog-container h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .posts-container {
        margin-top: 24px;
        gap: 16px;
    }

    .post-large {
        max-height: 484px;
    }

    .post-large__bottom {
        height: 278px;
    }

    .post__small {
        max-height: 484px;
    }

    .post-small__bottom {
        height: 278px;
    }

    footer {
        padding-left: 18px;
        padding-right: 18px;
    }

    .letter-menu input {
        width: 288px;
    }

    .subscribe-email__btn {
        display: none;
    }

    /* article */
    .article-intro h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .adaptive-breadcrumb::after {
        content: "Как не утонуть в тр...";
    }

    .article-intro>p,
    .article-intro>img,
    .article-intro>ul,
    .article-intro>div:not(.article-meta),
    .article-main>p,
    .article-main>img,
    .article-main>ul,
    .article-main>div {
        margin-top: 16px;
    }

    .article-intro img {
        width: 288px;
        height: 160px;
    }

    .quote {
        width: 288px;
        height: 290px;
    }

    .anxiety-todo__list {
        row-gap: 8px;
        margin-top: 8px;
    }

    .article-img-figure img {
        width: 288px;
        height: 160px;
    }

    .highlight {
        width: 288px;
        height: 168px;
    }

    .text-with-img-row img[alt="photo3"] {
        width: 288px;
    }

    .text-with-img-row img[alt="photo4"] {
        width: 288px;
        height: 160px;
    }

    .text-with-img-row p {
        width: 288px;
    }

    .task-wrap {
        width: 288px;
        height: 424px;
    }

    .two-columns-row {
        flex-direction: column;
    }

    .text-with-img-column {
        width: 288px;
    }

    .text-with-img-column img {
        width: 288px;
        height: 235px;
    }

    .promo-after-article {
        width: 288px;
        margin-top: 16px;
        margin-bottom: 60px;
    }

    .promo-after-article .empty-slots {
        width: 288px;
    }

    .promo-after-article .empty-slots .about-btn {
        width: 239px;
    }

    .promo-after-article .doctor-suggestion {
        width: 288px;
    }

    .promo-after-article .gift-banner {
        width: 374px;
        height: 292px;
        background-position: center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .promo-after-article .buy-sessions-promo {
        height: 252px;
        padding: 24px;
        background-position: left;
    }

    .promo-after-article .doctor-suggestion .about-btn {
        width: 250px;
    }
}